# Files
package-lock.json
.editorconfig
.gitattributes
.gitignore
.jsbeautifyrc
.eslintrc.json

# Personal
TODO
npm-debug.log*

# Directories
node_modules/
build/
scripts/
doc/
doc_v2/
test/
jsdom-tests/
.git/
.github/
